@keyframes mudarTela {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --teste: 1px solid black;
    --transition: all 0.3s ease-in-out;
}

html,
body {
    width: 100vw;
    height: 100%;

    background: #f0f0f0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 10%;
    height: 100%;

    background: #333;

    .options {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        gap: 50px;

        padding-top: 1%;
        
        width: 10%;
        height: 100%;

        border: var(--teste);

        .option{
            width: 100%;
            height: 50px;

            border: none;
            background: #555;
        }
    }
}

.main {
    flex: 1;

    width: 90%;
    height: 100%;

    border: var(--teste);

    .tela {
        display: none;
        align-items: center;
        justify-content: center;

        background: #d4d4d4;
        width: 100%;
        height: 100%;
    }

    .inicio {}

    .jogos {
        .Titulo {
            padding-top: 15px;

            h1 {
                width: max-content;
                margin: auto;
            }
        }

        .Cards {
            width: 100%;
            margin-top: 5%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;

            .card {
                display: flex;
                flex-direction: row;

                width: 35%;
                height: 120px;
                margin: auto;

                background: #a5a5a5;
                border-radius: 10px;
                transition: var(--transition);

                img {
                    border-radius: 10px 0 0 10px;
                }

                .conteudo {
                    .titulo {
                        h3 {
                            color: #000;
                        }

                        h4 {
                            color: #b4b4b4;
                        }
                    }

                    details,
                    details summary {
                        display: inline;
                        cursor: pointer;
                    }
                }

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }

    .perfil {}

    .ativa {
        display: block;

        animation: mudarTela 0.3s ease-in-out;
    }
}